* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'NeoDgmPro';
    src: url('../../fonts/NeoDgmPro.woff') format('woff');
    src: url('../../fonts/NeoDgmPro.woff2') format('woff2');
}

body {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
    ), 
    url('../../images/maps/kanto.jpg');
    background-size: cover;
}

h1 {
    color: white;
    font-family: 'NeoDgmPro';
    font-size: 48px;    
    font-weight: normal;
    text-align: center;
}

.menu-button {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translateX(-50%);
}