body {
  background-image: url(./아기방.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#img {
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
}