:root {
  --main-color-black: black;
  --main-color-gray: gray;
  --main-color-white: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  max-width: 1000px;
  margin: auto;
  padding: 0 20px;
}

.button {
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.button-small {
  width: 90px;
  height: 45px;
  font-size: 20px;
}

.button-big {
  width: 350px;
  height: 50px;
  font-size: 20px;
}

.button-gray {
  background-color: var(--main-color-gray);
  color: var(--main-color-white);
}

.button-white {
  background-color: var(--main-color-white);
  color: var(--main-color-black);
}