.box1 {
    width: auto;
    height: 150px;
    background-color: #000000;
    padding: 5px;
}

.box1-h1 {
    display: inline-block;
    margin: 15px;
    color: #ffffff;
}

.box1-p {
    margin: 15px;
    margin-left: 15px;
    color: #d4a968;
}

.box2 {
    width: auto;
    height: 50px;
    margin-top: 20px;
    background-color: #000000;
}

.box2-p {
    margin-left: 10px;
    padding : 10px;
    color: #ffffff;
}

.box3-h1 {
    text-align: center;
    color: #ff0000;
}

.box3-p {
    text-align: center;
    font-weight: bold;
}

span {
    color: #002fff;
}

.box4-h1 {
    text-align: center;
    color: #ff0000;
}

.box4-p {
    text-align: center;
    font-weight: bold;
}

.box-image {
    width: 300px;
    height: 200px;
    display: block;
    margin: 0 auto;
}